<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to yelpcamp app!</h1>
        </div>
    </div>
    <div class="btn btn-secondary btn-lg">
        <a href="/campGrounds">All campgrounds here</a>
    </div>
    <br>
    <div class="btn btn-secondary btn-lg">
        <a href="/campGrounds/new">Add new campgrounds</a>
    </div>
</div>

<%- include("partials/footer") %>
