<h1>Sign up!</h1>
<form action="/regiter" method="post">
    <input type="text" name="username" placeholder="user[username]">
    <input type="password" name="password" placeholder="user[password]">
    <button type="submit">submit</button>
</form>